<div class="container" *ngIf="!checkLogin()">
    <h1 style="color: red">You are not authorised</h1>
</div>
<div class="container" *ngIf="checkLogin()">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <h2>Car Details :</h2>
                    <hr />
                    <table class="table table-striped shadow-sm mb-3" style="padding: 2%; border: 1px solid gray">
                        <tbody>
                            <tr>
                                <th>Car Model:</th>
                                <td>{{ carData.carModel }}</td>
                            </tr>
                            <tr>
                                <th>Car Maker:</th>
                                <td>{{ carData.carMaker }}</td>
                            </tr>
                            <tr>
                                <th>Car Rental Price:</th>
                                <td>{{ carData.carRentalPrice }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <h6 style="color: red">
                        <p class="mb-2">*must click "Caluclate Cost" to get the estimated amount including GST.</p>
                        <p > *once you clicked on "Accept Aggreement" than you can not update the
                        data.</p>
                     </h6>
                     <h5>
                        <p class="mb-2" style="color:rgb(17, 68, 68)"><span style="text-decoration: underline;">User Information</span> : {{email}}</p>
                    </h5>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="col-md-6 shadow-sm" >
            <div class="row" style="border: 1px solid gray">
                <div class="col-12">
                    <h2>Agreement Form :</h2>
                    <hr />
                    <form [formGroup]="Dayform" (ngSubmit)="DaySubmitted()">
                        <h5>
                            Car Rent Date:<b>{{ rentDate }}</b>
                        </h5>
                        <br />
                        <div>
                            <label for="">Enter number of days :</label>
                            <input type="number" class="form-control mb-1" formControlName="days" />
                            <div class="form-text text-danger"
                                *ngIf="Days.errors?.['required'] && (Days.touched || Days.dirty)">
                                *days required
                            </div>
                            <div class="form-text text-danger" *ngIf="Days.errors?.['max'] || Days.errors?.['min']">
                                *value should be above 1 and below 100
                            </div>
                            <button class="btn btn-sm btn-primary mb-4" [disabled]="Dayform.invalid">
                                Calculate Cost
                            </button>
                        </div>
                
                        <div class="mb-3" style="width:70%" >
                            <h5 >Agreement Detail :</h5>
                            <hr />
                            <h6>Car rent Duration : <b>{{days}}</b> days.</h6>
                            <h6>Car per-day rent : <b>{{rentPrice}}</b> INR</h6>
                            <h5>Total Cost : {{totalCost}} INR</h5>
                        </div>
                        
                        <button class="btn btn-success mb-2" [disabled]="accept" (click)="acceptButton()">
                            Accept Agreement !
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>