
<div class="container">
  <div class="row">
    <div class="col-8"></div>
    <div class="col-4">
      <form [formGroup]="searchForm" class="d-flex form-group" role="search">
        <input type="search" formControlName="searchTerm" class="form-control me-2" placeholder="Search based on Model ,Maker or price ">
      </form>
    </div>
  </div>
  <h2>Available Cars</h2>
    <div class="row">
        <div *ngFor="let item of filteredCar" class="col-md-4 mb-3 " >
            <div class="card shadow bg-body-tertiary rounded" style=" border:3px solid teal">
                <div class="card-body ">
                  <h5 class="card-title">{{item.carModel}}</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary"> <b>Maker:</b> <i>{{item.carMaker}}</i> </h6>
                  <p class="card-text"> <b>Rental Price/day :</b> <i> {{item.carRentalPrice}}</i>.</p>
                  <button routerLink="/rental/{{item.id}}" class="btn btn-sm" style="background-color: teal; color:white">Rent</button>
                </div>
              </div>
        </div>
        <div *ngFor="let item of filteredRentedCar" class="col-md-4 mb-3 " >
          <div class="card shadow bg-body-tertiary rounded" style=" border:3px solid red">
              <div class="card-body ">
                <h5 class="card-title">{{item.carModel}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary"> <b>Maker:</b> <i>{{item.carMaker}}</i> </h6>
                <p class="card-text"> <b>Rental Price/day :</b> <i> {{item.carRentalPrice}}</i>.</p>
                <button [disabled]="true" class="btn btn-sm btn-danger">Rented !!</button>
              </div>
            </div>
      </div>
    </div>
    <hr>
    
<div *ngIf="noRentedData()" class="container mb-3" style="margin:6% 0 0 30%">
  <h1 style="color:rgba(128, 128, 128, 0.425)">Data not found ???</h1>
</div>